@themeColor: #ffa500;
@bgColor : #ffa500;
@textLighterColor:#999;
@themeLighterColor: #ffa500;

body{
    font: 14px/1.6 Arial,"Microsoft YaHei","黑体","宋体",sans-serif;
}
html,body,#app{
    height: 100%;
    margin: 0;
}

.el-button{
    font-size: 15px;
    color:#fff;
    height:30px;
    padding: 0 15px;
    border-radius: 4px;
    font-weight: normal;
    // border: none;
    background-color:#ffa60000;
    border-color: #fff;
    border: 1px solid;
    // color:rgba(0, 153, 51, 0.6)
}
.el-button:hover{
    color: #fff;
    background-color: #ffa600;
    border-color: #ffa600;
}
.el-button{
    color: #ffa6006e;
    background-color: #fff;
    
}
.el-button--primary{
    color: #ffa600;
}
.el-button--primary:focus{
    background: #fff;
    border-color: #ffa600;
    color: #ffa600;
}
.el-button--primary:hover{
    background: #ffa600;
    border-color: #ffa600;
    color: #fff;
}
.el-input{

}
input{
    line-height: 40px;
    border: 1px solid #eaeaea;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
}
input:focus{
    border-color: @themeLighterColor;
}
a{
    text-decoration: none;
    
}